/* Paleta de cores */
:root{
    --cinza-bg-color: #A4A5A6;
    --verde-bg-color: #458C57;
    --verdeC-bg-color: #63BF7A;
    --verdeCC-bg-color: #88F2A2;
    --cinzaE-bg-color: #404040;
    --roxo-bg-color:  rgb(128, 77, 190);
}

html{
    scroll-behavior: smooth;
}

/* Fonte */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex; 
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 90px;
    line-height: 90px;
    padding-inline: 9vw;
}
.nav-itens{
    list-style-type: none;
    display: flex;
    
}
.nav-itens>li{
    padding-left: 20px;
    font-weight: bold;
}
.logo{
    position: relative;
    cursor: default;
}
.nav-logo{
    font-size: 28px;
    font-weight: bolder;
    color: var(--verde-bg-color);
}
.logo span{
    position: absolute;
    top: 8px;
    right: -22px;
    font-size: 3em;
    border-radius: 15px;
    color: var(--cinzaE-bg-color);
}
a{
    text-decoration: none;
    color: #000000;
}

button{
    padding: 11px 11px;
    font-size: 15px;
    border-radius: 12px 12px;
    background-color: #ebeaea;
    font-weight: bold;

    border: none;
    cursor: pointer;
}

.hamburguer{
    display: none;
    background: none;
    cursor: pointer;
}

@media (max-width: 896px){
    button:hover{
        background-color: white;
    }
    .cv{
        display: none;
    }
    .hamburguer{
        display: block;
        margin-top: 16px;
        border: none;
        z-index: 1;
        font-size: 2em;
    }
    .nav-itens{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        clip-path: circle(100px at 90% -25%);
        transition: 1.5s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    .nav-itens a {
        font-size: 20px;
        opacity: 0;
    } 
    .nav-itens li:nth-child(1) a{
        transition: 0.5s 0.2s;
    }.nav-itens li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }.nav-itens li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }.nav-itens li:nth-child(4) a{
        transition: 0.5s 0.8s;
    }

    #myNavMenu.active .nav-itens{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    #myNavMenu.active .nav-itens a{
        opacity: 1;
    } 
    #myNavMenu.active .hamburguer{
    position: fixed;
    right: 37px;
    }

    .inicial{
    margin-top: 20em;
    margin-left: -8em;
    }
    .nome{
        margin: auto;
    }
    .dev{
        width: 12em;
    }
    .img-foto{
        margin-left: -23em;
        margin-right: 2.4em;
        top: 11em;
    }
    .down_cv1 a{
        font-size: 1em;
        padding: 11px 6px;
        border-radius: 12px;
    }
    .texto{
        width: 24em;
        padding-left: -12px;
    }
}
main{
    padding-top: 13em;
    margin-left: 9em;
    display: flex;
}
.inicial{
    width: 24em;
}
.nome{
    color: white;
    background-color: var(--cinzaE-bg-color);
    width: 8.4em;
    padding: 2px 3px;
    border-radius: 5px;
}
.dev{
    padding-top: 4px;
    height: 48px;
    font-size: 30px;
    font-weight: 800;
}
.dev span{
    color: var(--verde-bg-color);
}

main button{
    margin-top: 10px;
}

.social{
    margin-top: 2em;
    display: flex;
    gap: 2.5em;
}
.social button{
    font-size: 1.2em;
    border-radius: 30px;
    box-shadow: 1px 1px 3px;
}
.contrate{
    background-color: var(--roxo-bg-color);
    margin: 0px 20px 0px 0px;
}

.imagem{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.img-foto{
    margin-top: -70px;
    width: 350px;
    height: 360px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.img-foto img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}

@keyframes imgFloat{
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}

/* @media (max-widht: 750px){}
    diminuir padding left de main, configurar img com height widht e mexer no social media também
*/