/* Paleta de cores */
:root{
    --cinza-bg-color: #A4A5A6;
    --verde-bg-color: #458C57;
    --verdeC-bg-color: #63BF7A;
    --verdeCC-bg-color: #88F2A2;
    --cinzaE-bg-color: #404040;
    --roxo-bg-color:  rgb(128, 77, 190);
}

html{
    scroll-behavior: smooth;
}

/* Fonte */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* --- NAVBAR -- */
nav{
    display: flex; 
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 90px;
    line-height: 90px;
    padding-inline: 9vw;
    box-shadow: 0px .1px 0px 0px;
}
.nav-itens{
    list-style-type: none;
    display: flex;
    
}
.nav-itens>li{
    padding-left: 20px;
    font-weight: bold;
}
.logo{
    position: relative;
    cursor: default;
}
.nav-logo{
    font-size: 28px;
    font-weight: bolder;
    color: var(--verde-bg-color);
}
.logo span{
    position: absolute;
    top: 8px;
    right: -22px;
    font-size: 3em;
    border-radius: 15px;
    color: var(--cinzaE-bg-color);
}
a{
    text-decoration: none;
    color: #000000;
}

button{
    padding: 11px 11px;
    font-size: 15px;
    border-radius: 12px 12px;
    background-color: #ebeaea;
    font-weight: bold;

    border: none;
    cursor: pointer;
}

.hamburguer{
    display: none;
    background: none;
    cursor: pointer;
}

/* --- RESPONSIVE MOBILE -- */

@media (max-width: 900px){
    nav{
        box-shadow: 0 0 5px;
    }
    button:hover{
        background-color: white;
    }
    .cv{
        display: none;
    }
    .hamburguer{
        display: block;
        margin-top: 16px;
        border: none;
        z-index: 1;
        font-size: 2em;
    }
    .nav-itens{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        clip-path: circle(100px at 90% -25%);
        transition: 1.5s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    .nav-itens a {
        font-size: 20px;
        opacity: 0;
    } 
    .nav-itens li:nth-child(1) a{
        transition: 0.5s 0.2s;
    }.nav-itens li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }.nav-itens li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }.nav-itens li:nth-child(4) a{
        transition: 0.5s 0.8s;
    }

    #myNavMenu.active .nav-itens{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    #myNavMenu.active .nav-itens a{
        opacity: 1;
    } 
    #myNavMenu.active .hamburguer{
    position: fixed;
    right: 37px;
    }

    .inicial{
    margin-top: 20em;
    margin-left: -8em;
    }
    .nome{
        margin: auto;
    }
    .dev{
        width: 12em;
    }
    .img-foto{
        margin-left: -23em;
        margin-right: 2.4em;
        top: 11em;
    }
    .down_cv1 a{
        font-size: 1em;
        padding: 11px 6px;
        border-radius: 12px;
    }
    .texto{
        width: 24em;
        padding-left: -12px;
    }
    .social{
        margin-left: 46px;
    }

    .rolagem{
        display: flex;
    }
    .rolagem .rolagem-btn{
        margin-top: 41em;
        margin-left: -18em;
    }
}

/* --- MAIN ---*/
main{
    padding-top: 14em;
    margin-left: 9em;
    display: flex;
}
.inicial{
    width: 24em;
}
.nome{
    color: white;
    background-color: var(--cinzaE-bg-color);
    width: 8.4em;
    padding: 2px 3px;
    border-radius: 5px;
}
.dev{
    padding-top: 4px;
    height: 48px;
    font-size: 30px;
    font-weight: 800;
}
.dev span{
    color: var(--verde-bg-color);
}

main button{
    margin-top: 10px;
}

.social{
    margin-top: 2em;
    display: flex;
    gap: 2.5em;
}
.social button{
    font-size: 1.2em;
    border-radius: 30px;
    box-shadow: 1px 1px 3px;
}
.contrate{
    background-color: var(--roxo-bg-color);
    margin: 0px 20px 0px 0px;
}

/* --- MAIN IMG --- */
.imagem{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 60%;
    z-index: -1;
}
.img-foto{
    margin-top: -45px;
    width: 300px;
    height: 310px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.img-foto img{
    width: 310px;
    height: 340px;
    object-fit: cover;
}

@keyframes imgFloat{
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}

/* --- SCROLL --- */
.rolagem-btn{
    margin-left: -42em;
    margin-top: 23em;
    display: flex;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 2px 5px -2px;  
}
.rolagem i{
    font-size: 21px;
}

/* --- ABOUT --- */
.about{
    display: flex;
    margin-left: -39em;
    margin-top: 29em;
}
.about > .context{
    margin-top: 4.5em;
    margin-left: -33em;
    width: 440px;
    height: 190px;
    box-shadow: .5px .5px 9px 0px;
    border-radius: 20px;

    text-align: center;
    padding-block: 30px 70px;
    padding-inline: 12px;
}

#btn-about{
    background-color: var(--roxo-bg-color);
}

.about > .ling{
    margin-top: 5em;
    margin-left: 1em;
    width: 200px;
}

/* --- SKILLS --- */
.skills-box, .skills-box_2, .skills-box_3{
    margin: 10px;
}
.skills-box_2{
    position: relative;
    bottom: 133px;
    left: 220px;
    z-index: -1;
}
.skills-box_3{
    position: relative;
    bottom: 265px;
    left: 420px;
    z-index: -1;
}

.skills-header{
    margin-bottom: 30px;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.skills-list span{
    font-size: 14px;
    background: var(--roxo-bg-color);
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
}

/* --- Projects And Card Animation --- */
.projects{
    margin-left: -12em;
    margin-top: 52em;
}
.projects-header{
    margin-left: -20px;
}
.card{
    display: flex;
    margin-top: 6em;
    margin-left: -24em;
    max-width: 380px;
    cursor: pointer;
}
.projects-card{
    background: linear-gradient(var(--cinza-bg-color), var(--roxo-bg-color));
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects-card .img-card{
    background-image: url('../img/img_project.jfif');
    background-size: cover;
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .9;
    transition: all .5s;
}
.card:hover .img-card{
    opacity: 1;
    width: 460px;
}
.projects-card .img-card span{
    font-size: 20px;
    font-weight: 100;
}
.card .content-card{
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    transition: all .5s;
}
.card:hover .content-card{
    padding: 20px;
    height: 300px;
}
.card .content-card .title{
    font-size: 22px;
}
.card .content-card .desc-card{
    font-size: 14px;
    font-size: 400;
    opacity: 0.7;
    margin-bottom: 0;
}
.card .content-card .coding{
    padding-top: 12px;
    padding-left: 100px;
}
.card .arrow-card{
    padding: 10px;
    font-size: 28px;
}

#card_1{
    margin-left: 8em;
    margin-top: -9.5em;
}
#img-card_1{
    background-image: url('../img/React-Coins.png');
}
#coding_1{
    padding-left: 0;
}